@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus.a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------------------------*/
.container{
   width: 60%;
   margin: 0 auto;
   text-align: center;
   margin-top: 3%;
}
.title{
   font-size: 3vw;
   margin-bottom: 3%;
   padding-bottom: 1%;
   border-bottom: 3px solid rgb(100, 103, 107);
}
.ddown-menu{
   
   color: aqua;
}
.ddown-body{
   display: none;
   font-size: 18px;
}
.ddown-title{
   padding: 15 20px;
   display: block;
   cursor: pointer;
   font-size: 2vw;
}
.ddown-input{
   -webkit-appearance: none;
   appearance: none;
   width: 0;
   height: 0;
   position: absolute;
}  
.ddown-input1{
   -webkit-appearance: none;
   appearance: none;
   width: 0;
   height: 0;
   position: absolute;
}  
.ddown-input:hover + .ddown-body{
   display: block;
}
.ddown-item{
   margin-bottom: 10px;
}
.ddown-input1:checked + .ddown-body{
   display: block;
}
.ddown-menu:hover{
   color: #000;
}
.ddown-item{
   padding-bottom: 1%;
   
   border-bottom: 3px solid rgb(100, 103, 107); 
}